@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-ocean-teal-50: #E6F5F4;
  --color-ocean-teal-100: #CCEBE9;
  --color-ocean-teal-200: #99D7D3;
  --color-ocean-teal-300: #66C3BD;
  --color-ocean-teal-400: #33AFA7;
  --color-ocean-teal-500: #007D79;
  --color-ocean-teal-600: #00645F;
  --color-ocean-teal-700: #004B45;
  --color-ocean-teal-800: #00322C;
  --color-ocean-teal-900: #001912;
  --color-ocean-teal: #007D79;
  
  --color-charcoal-gray-50: #E6E6E6;
  --color-charcoal-gray-100: #CCCCCC;
  --color-charcoal-gray-200: #999999;
  --color-charcoal-gray-300: #666666;
  --color-charcoal-gray-400: #4F4F4F;
  --color-charcoal-gray-500: #3C3C3C;
  --color-charcoal-gray-600: #2F2F2F;
  --color-charcoal-gray-700: #232323;
  --color-charcoal-gray-800: #161616;
  --color-charcoal-gray-900: #0A0A0A;
  --color-charcoal-gray: #3C3C3C;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
