@import "tailwindcss";

:root {
  --background: #fefcf9;
  --foreground: #171717;
}

@theme {
  --color-ocean-teal-50: #F1FAEE;
  --color-ocean-teal-100: #D8F3DC;
  --color-ocean-teal-200: #B7E4C7;
  --color-ocean-teal-300: #95D5B2;
  --color-ocean-teal-400: #74C69D;
  --color-ocean-teal-500: #52B788;
  --color-ocean-teal-600: #40916C;
  --color-ocean-teal-700: #2D6A4F;
  --color-ocean-teal-800: #1B4332;
  --color-ocean-teal-900: #081C15;
  --color-ocean-teal: #52B788;
  
  --color-charcoal-gray-50: #E6E6E6;
  --color-charcoal-gray-100: #CCCCCC;
  --color-charcoal-gray-200: #999999;
  --color-charcoal-gray-300: #666666;
  --color-charcoal-gray-400: #4F4F4F;
  --color-charcoal-gray-500: #3C3C3C;
  --color-charcoal-gray-600: #2F2F2F;
  --color-charcoal-gray-700: #232323;
  --color-charcoal-gray-800: #161616;
  --color-charcoal-gray-900: #0A0A0A;
  --color-charcoal-gray: #3C3C3C;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
}
